<%- include('./partials/header'); -%>

<h1> <%= title %> </h1>
<p class="sub-text"> <%= content %> </p>

<form action="/delete/:id" method="post">
    <button type='submit' class="btn btn-lg">Delete</button>
</form>

<%- include('./partials/footer'); -%>
