<%- include('./partials/header'); -%>

<h1>Why keep a dream journal?</h1>
<h4 class="sub-title">
    It helps you remember what your dreams are about, and improve your memory in general!
</h4>

<p class="sub-text"> 
    Dreams are fleeting. In general, the more time that has passed since you woke up from a dream, the more difficult it will be to remember what that dream was about. Writing down your dreams as soon as you wake up will make it easier to remember what they were about later. In addition, paying closer attention to what your dreams are about will help you remember them more easily in the future, with or without writing them down. It's like exercise for your brain!
</p>

<h4 class="sub-title">
    It helps you better understand your emotions and thoughts, including how your dreams affect them.
</h4>

<p class="sub-text"> 
    As part of your psychology, it should come as little surprise that dreams can affect how you feel and think. Having a positive dream the night before may help you skate through a day with happiness and optimism, while waking up from a nightmare may make your next day full of sadness and worry. Chronicling your dreams can help you understand why you feel the way that you do each day. You may even be able to identify triggers for your thoughts and emotions that you may not always be consciously aware of.
</p>



<%- include('./partials/footer'); -%>